# Copyright (c) 2019 Nico Alt
# SPDX-License-Identifier: AGPL-3.0-only
# License-Filename: LICENSE.md

-r requirements.txt
pycodestyle>=2.5.0
pylint>=2.3.1
pytest>=4.6.2
pytest-cov>=2.7.1
pytest-mock>=1.11.0
requests_mock>=1.6.0
